/* * { outline: 2px dashed crimson } */
* { box-sizing: border-box }
html, body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  align-items: center;
  display: flex;
  justify-content: center;
}