/* * { outline: 2px dashed crimson } */
* { box-sizing: border-box }
html, body {
  background-color: #202020;
  color: white;
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
}