@import url('./slider.css');
.player {
  background: hsla(0, 0%, 100%, 0.05);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-family: Vazir, sans-serif;
  font-size: 1.5rem;
  gap: 3rem;
  padding: 0 0 3rem 0;
  width: 50rem;
}
.player__rest-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.player__details {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.player #music-image {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}
.player #music-name {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.player #music-singer {
  margin: 0;
  text-align: center;
}
.player__controls {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 0 3rem;
}
.player__controls button {
  background: hsla(0, 0%, 100%, 0.05);
  border-radius: 0.5rem;
  border: none;
  color: white;
  height: 5rem;
  width: 5rem;
}
.player__slider-container {
  align-items: center;
  direction: ltr;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0 3rem 0 3rem;
}