.range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: hsla(0, 0%, 0%, 0.5);
  border-radius: 53px;
  cursor: pointer;
  height: 5px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: hsl(200, 100%, 50%);
  border-radius: 98745px;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.range--time, #time-slider {
  background: linear-gradient(to right, hsl(200, 100%, 50%) 0%, hsla(0, 0%, 0%, 0.5) 0%);
}
.range--volume, #volume-slider {
  background: linear-gradient(to right, hsl(200, 100%, 50%) 80%, hsla(0, 0%, 0%, 0.5) 0%);
}