#volume-slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
  background: linear-gradient(to right, hsl(200, 100%, 50%) 80%, hsla(0, 0%, 0%, 0.5) 0%);
  border-radius: 53px;
  cursor: pointer;
}
#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2rem;
  height: 2rem;
  background: hsl(200, 100%, 50%);
  cursor: pointer;
  border-radius: 98745px;
}
#volume-slider {
  width: 80%;
}